venv/
media/
.idea/
.env
db.sqlite3
dump.rdb
**/__pycache__/
apps/advantages/migrations/0001_initial.py
apps/brand/migrations/0001_initial.py
apps/brand_info/migrations/0001_initial.py
apps/communication/migrations/0001_initial.py
apps/company_info/migrations/0001_initial.py
apps/content/migrations/0001_initial.py
apps/flavor/migrations/0001_initial.py
apps/news/migrations/0001_initial.py
apps/partners/migrations/0001_initial.py
apps/product/migrations/0001_initial.py
apps/production/migrations/0001_initial.py
apps/vacancy/migrations/0001_initial.py

